/.sentinal
/*.pyc
/bin
/.cvsignore
/aclocal.m4
/build-ossim.py
/doc
/config.guess
/config.sub
/configure
/configure.ac
/COPYING.GPL
/COPYING.LGPL
/Doxyfile
/etc
/header.gpl
/header.lgpl
/include
/install-sh
/lib
/LICENSE.txt
/ltmain.sh
/Makefile.common.in
/makefile.vc
/makefiles
/nmake.opt
/ospr.spec
/ossim.spec.in
/projects
/README.txt
/scripts
/specs
/src
/xcode
